<!DOCTYPE html>
<html lang="{{ g.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ _('Weather analyzer') }}</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        .collapsible {
            overflow: hidden;
            transition: max-height 0.3s ease-out;
        }
    </style>
    <script>
        function addCity() {
            const cityInput = document.getElementById('city-input');
            const city = cityInput.value.trim();
            if (city) {
                let cities = JSON.parse(localStorage.getItem('cities')) || [];
                cities.push(city);
                localStorage.setItem('cities', JSON.stringify(cities));
                cityInput.value = '';
                updateCityList();
            }
        }

        function clearCities() {
            localStorage.removeItem('cities');
            updateCityList();
        }

        function updateCityList() {
            const cities = JSON.parse(localStorage.getItem('cities')) || [];
            const cityList = document.getElementById('city-list');
            cityList.innerHTML = '';
            cities.forEach(city => {
                const li = document.createElement('li');
                li.textContent = city;
                cityList.appendChild(li);
            });
        }

        function fetchWeather() {
            const cities = JSON.parse(localStorage.getItem('cities')) || [];
            fetch('/weather', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ cities: cities })
            })
            .then(response => response.text())
            .then(html => {
                document.open();
                document.write(html);
                document.close();
            });
        }

        function toggleWeatherDetails(cityId) {
            const details = document.getElementById(`details-${cityId}`);
            const button = document.getElementById(`button-${cityId}`);
            if (details.style.maxHeight) {
                details.style.maxHeight = null;
                button.innerHTML = '+';
            } else {
                details.style.maxHeight = details.scrollHeight + 'px';
                button.innerHTML = '-';
            }
        }

        document.addEventListener('DOMContentLoaded', updateCityList);
    </script>
</head>
<body class="bg-gray-100">
<div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-8 text-center text-gray-800">
        {{ _('Current Weather') }}
    </h1>

    <div class="mb-8">
        <div class="flex flex-wrap justify-center space-x-4">
            <input type="text" id="city-input" placeholder="{{ _('City') }}" class="border p-2 mb-2">
            <button type="button" onclick="addCity()" class="bg-blue-500 text-white px-4 py-2 mb-2">{{ _('Add City') }}</button>
            <button type="button" onclick="clearCities()" class="bg-red-500 text-white px-4 py-2 mb-2">{{ _('Clear Cities') }}</button>
            <button type="button" onclick="fetchWeather()" class="bg-green-500 text-white px-4 py-2 mb-2">{{ _('Show Weather') }}</button>
        </div>
    </div>

    <ul id="city-list" class="mb-8"></ul>

    {% if error %}
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
        <span class="block sm:inline">{{ error }}</span>
    </div>
    {% else %}
    {% for city_weather in cities_weather %}
    <div class="mb-8">
        <div class="flex justify-between items-center">
            <h2 class="text-2xl font-bold mb-4 cursor-pointer" onclick="toggleWeatherDetails('{{ loop.index }}')">
                {{ _('Weather in') }} {{ city_weather.city }}
            </h2>
            <button id="button-${loop.index}" class="bg-blue-500 text-white px-2 py-1" onclick="toggleWeatherDetails('{{ loop.index }}')">+</button>
        </div>
        <div id="details-{{ loop.index }}" class="collapsible" style="max-height: 0;">
            <div class="flex space-x-4">
                <div class="w-1/2">
                    <h3 class="text-xl font-semibold mb-2">{{ _('Temperature plot') }}</h3>
                    <img src="data:image/png;base64,{{ city_weather.plot_url_temp }}" alt="Temperature Plot" class="w-full rounded-lg">
                </div>
                <div class="w-1/2">
                    <h3 class="text-xl font-semibold mb-2">{{ _('Wind Speed plot') }}</h3>
                    <img src="data:image/png;base64,{{ city_weather.plot_url_wind }}" alt="Wind Speed Plot" class="w-full rounded-lg">
                </div>
            </div>

            <div class="w-1/2 p-4 rounded-lg {% if city_weather.warning and city_weather.warning.severity.value != 1 %}{% if city_weather.warning.severity.value == 3 %}bg-red-100 text-red-700{% else %}bg-yellow-100 text-yellow-700{% endif %}{% endif %}">
                {{ city_weather.warning.description }}
            </div>
            <div class="bg-white rounded-lg mt-2 shadow-lg p-6 mb-8">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                    <div class="space-y-4">
                        <div class="text-center">
                            <div class="text-6xl font-bold text-gray-800">
                                {{ city_weather.temperature }}°C
                            </div>
                            <div class="text-gray-600 mt-2">
                                {{ _('Feels like') }}: {{ city_weather.feels_like }}°C
                            </div>
                            <div class="text-xl mt-2 capitalize text-gray-700">
                                {{ city_weather.description }}
                            </div>
                        </div>
                    </div>
                    <div class="space-y-4">
                        <div class="border-b pb-2">
                            <span class="text-gray-600">{{ _('Humidity') }}:</span>
                            <span class="float-right font-semibold">{{ city_weather.humidity }}%</span>
                        </div>
                        <div class="border-b pb-2">
                            <span class="text-gray-600">{{ _('Wind Speed') }}:</span>
                            <span class="float-right font-semibold">{{ city_weather.wind_speed }} {{ _('m/s') }}</span>
                        </div>
                        <div class="border-b pb-2">
                            <span class="text-gray-600">{{ _('Pressure') }}:</span>
                            <span class="float-right font-semibold">{{ city_weather.pressure }} {{ _('hPa') }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bg-white rounded-lg mt-2 shadow-lg mb-8">
                <div class="flex overflow-x-auto p-4 space-x-4">
                    {% for forecast in city_weather.hourly_weather %}
                    <div class="flex-shrink-0 p-4 flex-grow min-w-[12rem] bg-gray-100 rounded-lg shadow-md">
                        <div class="text-center">
                            <div class="text-2xl font-bold text-gray-800">
                                {{ forecast.pretty_dt }}
                            </div>
                            <div class="text-6xl font-bold text-gray-800">
                                {{ forecast.main.rounded_temp }}°C
                            </div>
                            <div class="text-gray-600 mt-2">
                                {{ _('Feels like') }}: {{ forecast.main.feels_like }}°C
                            </div>
                            <div class="text-xl mt-2 capitalize text-gray-700">
                                {{ forecast.weather[0].description }}
                            </div>
                            <div class="flex justify-between items-center text-sm mt-2 space-x-2">
                                <div class="flex items-center">
                                    <i class="fas fa-tint text-blue-500 mr-1"></i>
                                    <span>{{ forecast.main.humidity }}%</span>
                                </div>
                                <div class="flex items-center">
                                    <i class="fas fa-wind text-gray-500 mr-1"></i>
                                    <span>{{ forecast.wind.speed }} {{ _('m/s') }}</span>
                                </div>
                                <div class="flex items-center">
                                    <i class="fas fa-tachometer-alt text-red-500 mr-1"></i>
                                    <span>{{ forecast.main.pressure }} {{ _('hPa') }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
</body>
</html>
